.head-text{
    color: #3F48A2;
    font-size: 3.75rem; 
    line-height: 1;
}
.main-text-dark{
    color: #ffffff;
    font-size: 1rem; 
    line-height: 1;
}
.main-color{
    background-color: #3F48A2;
}