<div class="col ps-md-2 pt-2"  @routeTransition>
    <div class="page-header pt-3">
        <h2>Lorem Ipsum</h2>
    </div>
    <p class="lead">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
    <hr>
    <div class="row">
        <div class="col-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices lorem eget lorem gravida venenatis. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel imperdiet ligula. Etiam commodo tellus vitae feugiat tincidunt. Nam tempor pulvinar mi, vitae aliquam justo porta in. Donec velit purus, rutrum ac ligula ac, tempor efficitur erat. Maecenas finibus ultricies turpis, vel iaculis neque sagittis vitae. Mauris imperdiet augue ac neque hendrerit ornare. Aenean sem leo, aliquet in ex eleifend, placerat aliquam erat. Fusce a aliquet arcu.

            Suspendisse potenti. Morbi id ornare orci. In rutrum consequat tincidunt. Donec viverra consequat elit sed fringilla. Aenean non arcu pulvinar, vehicula urna volutpat, elementum metus. Etiam maximus suscipit eros, vehicula vehicula tortor volutpat eget. Ut sit amet tortor eu ligula aliquam elementum non sed arcu.
        </div>
    </div>
</div>